<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      *{
        margin: 0px;
        padding: 0px;
        background-color: gray;
      }
      body{
           min-height:100vh;
   display: flex;
        justify-content: center;
        align-items: center;
        padding: 33px;
      }
      .container{
          width: 95%;
          max-width: 1200px;
           background:#fff;
          padding: 30px;
           box-shadow:0 10px 30px rgba(0,0,0,0.3);
      }
        h1{
            text-align:center;
            color:#333;
            margin-bottom:25px;
            font-size:35px;
        }
        table{
           width:100%;
            border-collapse:collapse;
            overflow:hidden;
            border-radius:10px; 
        }
         td{
       
            text-align:center;
            font-size:16px;
        }
         th,td{
                padding:10px;
            }
          
    </style>
    <title>Document</title>
</head>
<body>
  
  <div class="container">
    <h1>Alchol all  list is here</h1>
      <table border="2">
        <tr><th>Adhar card</th>
           <th>Brand Name</th>
           <th>Price</th>
           <th>Date</th>
           <th>Time</th>
           <th>timer</th>
</tr>
 
<% data.forEach((data)=>{%>
           <tr>
            <td><%=data.customer_Adhar_card_no%></td>
            <td><%=data.brand_name%></td>
            <td><%=data.brand_price%></td>
            <td><%=data.date%></td>
            <td><%=data.time%></td>
            <td id="timer-<%= data._id %>"></td>        
          </tr>
        <%})%>
         
      </table>
      
      </div>
      <script>

<% data.forEach(function(item){ %>

(function(){

    const timer = document.getElementById("timer-<%= item._id %>");

    const purchaseDate = new Date("<%= item.purchaseDate %>").getTime();

    const endTime = purchaseDate + (7 * 24 * 60 * 60 * 1000);

    const interval = setInterval(function(){

        const now = Date.now();

        const distance = endTime - now;

        if(distance <= 0){

            timer.innerHTML = "Finished";

            clearInterval(interval);

            return;
        }

        const days = Math.floor(distance / (1000 * 60 * 60 * 24));

        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

        timer.innerHTML =
        days + "D " +
        hours + "H " +
        minutes + "M " +
        seconds + "S";

    },1000);

})();

<% }); %>

</script>
</body>
</html>